<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Prominent_Nodes_Network</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
    <servlet>
    <description>process algorithm Ajax Request</description>
   <display-name>controller_Servlet</display-name>  
    <servlet-name>controller_Servlet</servlet-name>
    <servlet-class>controller_MVC.controller_Servlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>controller_Servlet</servlet-name>
    <url-pattern>/controller_Servlet</url-pattern>
  </servlet-mapping>
   
  
</web-app>